@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
 */
 
body {
  background-color: #eeeeee;
  margin: 0;
  
}

.raleway {
  font-family: "Ruda", sans-serif;  
}

html {
  scroll-behavior: smooth;
}

.bg-gradient {
  background-image: -webkit-linear-gradient(
    top left,
    #2d669a 0%,  
    #d6d4d4 45%,
    #0a9ee6 100%
    
  );
}

.text-center-test {
  align-items: center;
  display: flex;
  justify-content: center;
  }